[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RPscoring"]
	path = RPscoring
	url = https://github.com/daphnaharel/rpscoring
[submodule "sur"]
	path = sur
	url = https://github.com/cran/sur
